@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    border:0;
    margin:0;
    font-family: "Montserrat",sans-serif;
}

:root{
    --white-text:#000000 /*#FFFFFF*/;
    --dark-100:#1C1C1C;
    --bg-dark:#DCD8D8;/*#0D0D0D;*/
    --gray-50:#DCD8D8; /*#262626*/;
    --gray-30:#302C2C;
    --orange:#F97A2D;
    --red:#FF5A58;
    --blue:#00A4D9;
    --green:#05FF00;

    --black-text:#000000;
    --dark-100:#DCD8D8;
    --bg-white: #DCD8D8;
    --gray-50:#DCD8D8; /*#262626*/;
    --gray-30:#302C2C;
}

body{
    background-color: var(--bg-dark);
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:var(--white-text);
    transition:0.5s;
    opacity: 0.8;
}

a:hover{
    opacity: 1;
    color:var(--white-text);
}


.icon{
    height:2rem;
}


.form-control{
    background-color: var(--gray-30);
    border:0;
    transition: 0.5s;
    opacity: 0.8;

    color:var(--white-text);
}

.form-control:hover{
    background-color: var(--gray-30);
    border:0;
    opacity: 1;
}

.form-control:focus{
    background-color: var(--gray-30);
    border:0;
    opacity: 1;

    color:var(--white-text);
}

.btn-primary{
    background-color: var(--dark-100);
    border:0;
    width:100%;
    color:var(--orange);
    opacity: 0.9;
    transition: 0.5s;

    padding: 0.5rem;
}

.btn-primary:hover{
    background-color: var(--gray-30);
    border:0;
    opacity: 1;
    color:var(--orange);
}


.card-body{
    background-color: var(--gray-50);
    color:var(--white-text);
    
    
}

            /*Link*/
.link{
    border-bottom: 2px solid var(--bg-dark);
    transition: 0.5s;
}

.link:hover{
    border-bottom: 2px solid var(--orange);
}

.btn-green{
    background-color: var(--green);
    color:var(--white-text);
}

.btn-danger{
    background-color: var(--red);
    color:var(--white-text);
}

.btn-info{
    background-color: var(--blue);
    color:var(--white-text);
    border:var(--blue) solid 1px;
}

.btn-info:hover{
    background-color: var(--blue);
    color:var(--white-text);
    border:var(--blue) solid 1px;
}

.place{       
    width: 30px;
    border-radius: 50%;
}

.place:hover{
    cursor:pointer;
}

.place_empty{
    background-color: var(--green); 
}

.place_kono{
    background-color: var(--orange);
}

.table-side{
    background-color:var(--white-text);
    padding:0.3rem;
}

.table-right{
    background-color:var(--white-text);
    padding:0.3rem;

    width: 65.84px;
    height: 7.15px;
}
.table-side{
    background-color: #D9D9D9;  
    transform: rotate(89.64deg);

    width: 65.84px;
    height: 7.15px;
}

.main-content{
    background-color: var(--bg-dark);
    
}